{% extends '::base.html.twig' %}


{% block title %}{{ page.title }} &mdash; {{ parent() }}{% endblock title %}


{% block body %}

    {# Mainmenu from root #}
    {% if mainmenu is defined and mainmenu %}
        <h2>Main menu</h2>
        <p>
            {% for item in mainmenu %}
                {% if item.active is defined and item.active %}
                    <span>{{ item.title }}</span>
                {% else %}
                    {% if item.subactive %}
                        <strong><a href="{{ item.link }}">{{ item.title }}</a></strong>
                    {% else %}
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    {% endif %}
                {% endif %}

                {% if not loop.last %} | {% endif %}
            {% endfor %}
        </p>
    {% endif %}


    {# Breadcrumbs #}
    {% if breadcrumbs is defined and breadcrumbs %}
        <h2>Breadcrumbs</h2>
        <p>
            {% for item in breadcrumbs %}
                {% if item.active is defined and item.active %}
                    <span>{{ item.title }}</span>
                {% else %}
                    <a href="{{ item.link }}">{{ item.title }}</a>
                {% endif %}

                {% if not loop.last %}&rarr;{% endif %}
            {% endfor %}
        </p>
    {% endif %}


    {# Menu of siblings #}
    {% if menu is defined and menu %}
        <hr>
        <h2>Menu of siblings</h2>
        <ul>
            {% for item in menu %}
                <li>
                    {% if item.active is defined and item.active %}
                        <span>{{ item.title }}</span>
                    {% else %}
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    {% endif %}

                    {# Submenu #}
                    {% if item.children is defined and item.children %}
                        <ul style="margin-left: 1em;">
                            {% for subitem in item.children %}
                                <li>
                                    {% if subitem.active is defined and subitem.active %}
                                        <span>{{ subitem.title }}</span>
                                    {% else %}
                                        <a href="{{ subitem.link }}">{{ subitem.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    {# Submenu of children #}
    {% if submenu is defined and submenu %}
        <hr>
        <h2>Submenu of children</h2>
        <ul>
            {% for item in submenu %}
                <li>
                    {% if item.active is defined and item.active %}
                        <span>{{ item.title }}</span>
                    {% else %}
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    <hr>

    {# Title #}
    <h1>Page title — {{ page.title }}</h1>

    {# Content #}
    {{ page.content | raw }}

    <hr>

    {# Last update #}
    <p>{{ page.updatedAt | date }}</p>

{% endblock body %}